@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
:root{
    --first : #7D7F82;
    --second : #F2F2F2;
    --third: #8C6969;
    --fourth: #1178d1;
    --fifth: #0D0D0D;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.invalide{
    text-align: center;
    color: rgb(214, 82, 82);
}
#preloader{
  align-items: center;
  background: #FFF;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.2s linear;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transform: opacity 1s linear;
}
.container
{
    position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
}
body .container{
    display: flex;
    width: 80%;
    height: 80%;
}
.container .main{
    display: flex;
    width: 100%;
    height: 100%;
}
.container .main .img-left-container{
    background: blue;
    width: 40%;
    background: url("./bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.container .main .login-right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--second);
    width: 60%;
}
.login-right-container .title{
    padding-bottom: 2rem;
    font-size: 4rem;
}
 .email-input, .user-password{
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem;
    border: none;
    border: var(--fourth) 1px solid;
    border-radius: 5px;
}
.forgot-password, .signup-btn{
    color: var(--fourth);
    float: right;
    transition:all 0.5s ease-in-out;
}
.signup-btn{
    float: none;
}
.forgot-password:hover, .signup-btn:hover{
    color: var(--first);
    transform: scale(1.08);
}
#remember-btn:checked  + label {
    color: var(--fourth);
}
.remember-me-box{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem;
}
.remember-me-box span{
    margin: -2rem;
}

.checkbox-container  input {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    bottom: 0;
}
.checkbox-container input:checked + label {
    background: var(--fourth);
}

 input:checked + label:after {
    right: 2px;
    background-color: #fff;
    box-shadow: -2px 0px 0px rgba(0,0,0,0.1);
}

.checkbox-container label {
    transition: background-color 500ms ease;
    display: inline-block;
      position: relative;
      height: 44px;
      width: 90px;
      background-color: #fff;
      cursor: pointer;
      font-size: 0;
      color: transparent;
      border-radius: 22px;
}

.checkbox-container label:after {
    transition: right 500ms ease, 
      background-color 500ms ease, 
      box-shadow 500ms ease;
      content: '';
      display: block;
      height: 40px;
      width: 40px;
      position: absolute;
      top: 2px;
      right: 48px;
      border-radius: 50%;
      background-color: #e8e8e8;
      box-shadow: 2px 0px 0px rgba(0,0,0,0.15);
}

  .input-wrap {
    position: relative;
    padding: 8px;
    min-width: 140px;
  }
  label {
    line-height: 44px;
    vertical-align: middle;
}
.login-btn{
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 7px;
    background-color: var(--fourth);
    color: #fff;
    width: 110%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0.5rem;
}
.login-btn:hover{
    opacity: 0.9;
    transform: scale(1.05);
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.links span{
    margin-bottom: 0.7rem;
}
.links button{
    padding: 0.4rem 0.6rem;
    margin: 0.2rem;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}
.links i{
    padding-right: 0.5rem;
    border-right: #fff 2px solid;
    margin-right: 0.5rem;
}
.links button:hover{
    opacity: 0.9;
    transform: scale(1.05);
}
.links .google-btn{
    background: linear-gradient(#DB4437,#4285F4);
}
.links .facebook-btn{
    background-color: #3b5998 ;
}
.links .github-btn{
    background-color: #171515 ;
}
.button-links{
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}












/* Media Queries */
@media only screen and (max-width: 1310px) {
    body {
      background-color: lightblue;
    }
    .login-right-container .title{
        padding-bottom: 1.5rem;
        font-size: 3rem;
    }
    .container .main .login-right-container{
        padding: 5rem 2rem 2rem 0rem;
    }
}



@media only screen and (max-width: 1100px) {
    body {
        background-color: rgb(20, 34, 39);
      }
    .img-left-container{
        display: none;
    }
    .login-right-container{
        margin: auto;
    }
    .login-right-container .content{
        padding: 2rem 5rem 4rem 4rem;
    }
    .login-right-container .title{
        padding-bottom: 0rem;
        font-size: 2.5rem;
    }
    .email-input, .user-password{
        width: 110%;
        padding: 0.7rem;
        margin: 0.5rem;
    }
    .login-btn{
        font-size: 1.7rem;
        padding: 0.3rem 0.7rem;
        width: 120%;
    }
    
     input:checked + label:after {
        right: 2px;
        background-color: #fff;
        box-shadow: -2px 0px 0px rgba(0,0,0,0.1);
    }
    
    .checkbox-container label {
        transition: background-color 500ms ease;
        display: inline-block;
          position: relative;
          height: 22px;
          width: 45px;
          background-color: #fff;
          cursor: pointer;
          font-size: 0;
          color: transparent;
          border-radius: 11px;
    }
    
    .checkbox-container label:after {
        transition: right 500ms ease, 
          background-color 500ms ease, 
          box-shadow 500ms ease;
          content: '';
          display: block;
          height: 20px;
          width: 20px;
          position: absolute;
          top: 1px;
          right: 24px;
          border-radius: 50%;
          background-color: #e8e8e8;
          box-shadow: 2px 0px 0px rgba(0,0,0,0.15);
    }

 .remember-me-box{
    font-size: 0.9rem;
 }
 .links button{
    margin: 0.4rem;
 }
 .links{
    margin-top: 4rem;
 }    
}



@media only screen and (max-width: 800px) {
    .login-right-container .title{
        font-size: 2.1rem;
    }

    .login-right-container .content{
        padding: 2rem 5rem 4rem 4rem;
    }
}

@media only screen and (max-width: 800px) {
    body{
        background-color: var(--second)
    }
    #particles-js{
        display: none;
    }
}

#particles-js {
    background: #976e67;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}